.template {
    max-width: 800px;
    max-height: 4000px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #aeaeae;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

    
   input {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #f0f0f0;
    background-color: #ffffff;
  }